<!DOCTYPE html>
<html>
  <head>
    <title>RubyBlogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="w-100 bg-light">
  <p class="flash">
    <% if flash.notice != nil %>
    <p class="alert alert-success"><%= flash.notice %></p>
    <% end %>
    </p>
  <%= yield %>
  </body>
</html>
